<style>
@media screen and (max-width: 800px) {
     /* phone size */

    .GS-menu {
    display: inline;
    }

    .buttonoptions {
        width: 100%;
        border-radius: 0px
    }

    #menu {
        width: 100%;
    }
}
</style>

<div id="holder">
    
    <div class="GS-menu">
            <a href="#poolDetails"><button class="buttonoptions">Pool Details</button></a>
            <a href="#gpuMining"><button class="buttonoptions">GPU Mining</button></a>
            <a href="#createWallet"><button class="buttonoptions">Pirate Info</button></a>
            <a href="#zMigrate"><button class="buttonoptions">zMigrate</button></a>
    </div>

<div id="menu">    
        <div id="poolDetails" style="height:50px"></div>
        <div class="menuHeader">Pool Configuration Details<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div>
                {{ for (var pool in it.poolsConfigs) { }}
                <div class="poolConfig">
                        <div class="coinInfoHeader">
                            {{if (String(it.stats.pools[pool].name).startsWith("komodo")) { }}
                            <img style="display: block; margin: auto; padding-top: 15px;" src="/static/images/KMDlogo.png"><br>
                            Komodo Configuration<br>
                            {{ } else if (String(it.stats.pools[pool].name).startsWith("pirate")) { }}
                            <img style="display: block; margin: auto; padding-top: 15px;" src="/static/images/Plogo.png"><br>
                            Pirate Configuration<br>
                            {{ } else { }}
                            <span class="coinInfoName">{{=it.poolsConfigs[pool].coin.name}}</span> Configuration<br>
                            {{ } }}
                        </div>

                    <div class="configDetails" id="configDetails">
                        <div class="coinInfoRows">
                            <div class="coinInfoRowKeys">
                                <div>Username:</div>
                                <div>Password:</div>
                                <div>Algorithm:</div>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <div class="coinInfoData">{{= it.poolsConfigs[pool].ports[port].label ? it.poolsConfigs[pool].ports[port].label : 'URL'}}</div>
                                {{ } }}
                            </div>
                            <div class="coinInfoRowValues">
                                <div class="coinInfoUsername">
                                    {{ if (it.poolsConfigs[pool].coin && it.poolsConfigs[pool].coin.privateChain) { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} wallet <b style="color:#C99631;">zS</b> address<br>
                                       
                                    {{ } else if (it.poolsConfigs[pool].coin) { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} wallet address
                                    {{ } else { }}
                                        your public key
                                    {{ } }}
                                </div>
                                <div>anything</div>
                                <div>{{=it.poolsConfigs[pool].coin.algorithm}}</div>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <div class="coinInfoData">{{=it.portalConfig.website.stratumHost}}:{{=port}}</div>
                                {{ } }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ } }}
        </div>

        <div id="gpuMining" style="height:50px"></div>
        <div class="menuHeader">GPU Mining<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            <p>
                There are a few decent GPU miners available. You will need to experiment to find which one works best for you.  DYOR on this and be sure to virus scan all the things!
            </p>
            <p>
                You are only able to mine to a zS address. If you mistype, or input an invalid address, you will not receive any funds and the pool will be unable to retrieve these. Please ensure you have copied your zSaddress correctly.
            </p>
            <p>
                DO NOT, I repeat, DO NOT mine to an exchange wallet. This will cause all sorts of problems for the exchange to deal with, most likely leading to closed withdrawals and deposits as we have seen before. Refer to the information at the bottom of the page to get an Agama wallet.
            </p>
            <p>
                If you have multiple mining rigs you can add a .minername at the end of your username(zaddr) to see stats broken down by rig on the worker stats page.
            </p>
            <p>
                Here are some setup configurations for a couple of well-known GPU miners. All you will have to do is choose the correct port and change your username to your Zaddr.
            </p>
            <div class="sectionwords">
                    <a href="https://bitcointalk.org/index.php?topic=1707546.0" target="_blank" style="color: var(--colour1)">EWBF's Cuda Equihash Miner</a>
                    </div>
                    <code>
                    ./miner --server {{=it.portalConfig.website.stratumHost}} --port {{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} --user zBMzwbMsdkfjh...H82hfLjsoie.Miner1 --pass x --fee 0 --pec
                    </code>

            <div class="sectionwords">
                <a href="https://bitcointalk.org/index.php?topic=2021765.0" target="_blank" style="color: var(--colour1)">dstm's ZCash / Equihash Nvidia Miner</a>
                </div>
                <code>
                    ./zm --server {{=it.portalConfig.website.stratumHost}} --port {{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} --user zBMzwbMsdkfjh...H82hfLjsoie.Miner1
                </code>

            <div class="sectionwords">
                You can also look into using the miner below:<br>
                    <a href="https://bitcointalk.org/index.php?topic=2519271.0" target="_blank" style="color: var(--colour1)">Bminer for CUDA GPU's</a>
                    <a href="https://bitcointalk.org/index.php?topic=1670733.0" target="_blank" style="color: var(--colour1)">Claymore's ZCash/BTG AMD GPU Miner</a>
                    
                </div>
            
            <p>While it is possible to CPU mine, this pool does not support doing so on PIRATE.</p>
        </div>

        <div id="createWallet" style="height:50px"></div>
        <div class="menuHeader">Generate a PIRATE Wallet and Address<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            Currently the <a href="https://github.com/KomodoPlatform/Agama/releases" style="color: var(--colour1)">Agama Wallet</a> supports PIRATE in NATIVE mode only. See that link for the latest version.<br>
            <br>
            If you use a CLI wallet. You can follow the instructions below:<br>
            <ol>
                <li>Build <a href="https://docs.komodoplatform.com/komodo/install-Komodo-manually.html" target="_blank" style="color: var(--colour1)">Komodo</a></li>
                <li>Launch PIRATE chain and wait for it to sync fully:
                    <code>
                        ./komodod -ac_name=PIRATE -ac_supply=0 -ac_reward=25600000000 -ac_halving=77777 -ac_private=1 -addnode=136.243.102.225
                    </code>
                </li>
                <li>Generate a Z address:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_getnewaddress
                    </code>
                </li>
                <li>Securely backup your private key (keep this private key safe):
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_exportkey "zaddr"
                    </code>
                </li>
            </ol>
<br>
            <div style="font-size: 1.2em; color: var(--colour3)">Handy CLI commands</div>
                <div>Check your balance:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_gettotalbalance
                    </code>
                </div>
                <div>Send your coins:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_sendmany "fromZSaddress" '[{"address": "toZSaddress" ,"amount": ...}]'
                    </code>
                </div>

                <div>Merge UTXO's:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_mergetoaddress "ZSaddress" "ZSaddress"
                    </code>
                </div>
            For more information visit the <a href="https://pirate.black/" target="_blank" style="color: var(--colour1)">pirate.black website.</a>
        </div>
        
        <div id="zMigrate" style="height:50px"></div>

        <div class="menuHeader">How to update to Sapling<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            <p>
            As of the recent hardfork for the Komodo Platform and all Asset Chains, Sapling has now been integrated. You are required to move ALL of your funds from your current Sprout addresses to the new Sapling addresses prior to the 1st of February 2019(to ensure you have enough time to migrate). After Feb the 15th, any funds in Transparent or Sprout addresses will be unusable and effectively burnt.
            </p>
            <p>
            For more information on the Sapling upgrade, refer to the links listed, or join the <a href="https://discord.gg/Gs9rj4a" target="_blank" style="color: var(--colour1)">Pirate</a> & <a href="https://discord.gg/QeukYy6" target="_blank" style="color: var(--colour1)">Komodo</a> discord.
            </p>
            <p>
                <a href="https://techloverhd.com/2018/12/full-speed-ahead-the-first-sapling-specific-privacy-chain-is-here/" target="_blank" style="color: var(--colour1)">Pirate Sapling Upgrade Article</a><br>
                <a href="https://komodoplatform.com/sapling-unifying-blockchain-technology/" target="_blank" style="color: var(--colour1)">Komodo Platform Blockchain Update Article</a><br>
                <a href="https://github.com/PirateNetwork/docs/wiki/How-to-Migrate-Pirate-(ARRR)-from-sprout-address-to-sapling-address" target="_blank" style="color: var(--colour1)">Pirate GIT guide</a>
            </p>
            <ol>
                <li>Generate a Transparent Address(starts with an R)
                    <code>
                        ./komodo-cli -ac_name=PIRATE getnewaddress
                    </code>
                </li>
                <li>Generate a new Sapling address(starts with zS)
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_getnewaddress
                    </code>
                </li>   
                <li>Create a specific sized UTXO in your sprout address (send the funds to yourself or a new sprout address). In this example we use 1000 ARRR and 0.0002 for transaction fees.
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_sendmany "sproutzaddr" '[{"address":"sproutzaddr","amount": 1000.0002}]'
                    </code>
                </li> 
                <li>Send your current funds from your Sprout address(zC) to your transaprent address (zC -> R)
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_sendmany "sproutzaddr" '[{"address":"taddr","amount": 1000.0001}]'
                    </code>
                </li>
                <li>Send your funds from your Transparent address to your Sapling address (R -> zS)
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_sendmany "taddr" '[{"address":"saplingaddr","amount": 1000}]'
                    </code>
                </li>
            </ol>
            <p>As you'll notice, the total amount in the transactions is decreasing by the 0.0001 transaction fee each time.</p>
            <p>You are also able to use the zMigrate cli dAPP. You can build that as per the instructions below. Or wait for a GUI client to come out (roughly 20th Dec)</p>
            <code>
                cd ~/komodo/src
            </code>
            <code>
                cc/dapps/makedapps 
            </code>
            <code>
                ./zmigrate PIRATE saplingzaddr
            </code>
            <p>Repeat this ./zmigrate command until you have no funds left to migrate</p>
        </div>



    </div>
</div>
</div>

<script>
    function configDetailsButton() {
      var x = document.getElementById("configDetails");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>