<style>
@media screen and (max-width: 800px) {
     /* phone size */

    .GS-menu {
    display: inline;
    }

    .buttonoptions {
        width: 100%;
        border-radius: 0px
    }

    #menu {
        width: 100%;
    }
}
</style>

<div id="holder">
    
    <div class="GS-menu">
            <a href="#poolDetails"><button class="buttonoptions">Pool Details</button></a>
            <a href="#guides&wallets"><button class="buttonoptions">Guides/Wallets</button></a>
            <a href="#howtoMine"><button class="buttonoptions">How-To Mine</button></a>
            <a href="#createWallet"><button class="buttonoptions">CLI Info</button></a>
            <a href="#handyLinks"><button class="buttonoptions">Handy Links</button></a>
    </div>

    <div id="menu">    
        <div id="poolDetails" style="height:50px"></div>
        <div class="menuHeader">Pool Details<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>

            <div class="sectionwords">
                <div style="font-size: 1.3em; color: var(--colour3)">Pool Payments Information</div>
                <p>
                    Pool payout frequency is listed below and is different for each coin.</br>
                    For <a href="https://blog.komodoplatform.com/delayed-proof-of-work-explained-9a74250dbb86" target="_blank" style="color: var(--colour1)">dPoW'd</a> coins, the payments require 1 notarisation before they will be sent. </br>
                    A "CONFIRMING" status on the payment indicates it is waiting for a notarisation to occur. Once the notarisation occurs, the payment will switch to "PENDING". </br>
                    A "PENDING" status indicates the payment is waiting until the next payout time. </br>
                    "CONFIRMING" and "PENDING" payments show as IMMATURE on your workers page. </br>
                </p>

                <p>
                    A minimum amount of coins is required before the payment processor will payout. This amount varies based on coin. Refer to the minimum payout amount below. Your BALANCE will show coins waiting to be paid if you haven't mined the minimum amount. No manual payments will be processed below the threshold.
                </p>

                <p>
                    The pool fee for each coin is listed below.
                </p>

                <div style="font-size: 0.8em; color: var(--colour3);">Pool hoppers are not tolerated on this pool. Please stay for longer than 12 hours to reap the rewards of pool mining!</div>
                <br>

                <div style="font-size: 1.3em; color: var(--colour3)">Configuration Details</div>
            </div>  

            <div>
                {{ for (var pool in it.poolsConfigs) { }}
                    <div class="poolConfig">
                        <div class="coinInfoHeader">
                            {{if (String(it.stats.pools[pool].name).startsWith("komodo")) { }}
                                <img class="coinLogo" src="/static/images/KMDlogo.png"><br>
                                Komodo Configuration

                                {{ } else if (String(it.stats.pools[pool].name).startsWith("pirate")) { }}
                                <img class="coinLogo" src="/static/images/PirateLogo.png"><br>
                                Pirate Configuration

                                {{ } else if (String(it.stats.pools[pool].name).startsWith("redfox labs")) { }}
                                <img class="coinLogo" src="/static/images/RFOX.png"><br>
                                RedFOX Labs Configuration

                                {{ } else { }}
                                <span class="coinInfoName">{{=it.poolsConfigs[pool].coin.name}}</span> Configuration
                            {{ } }}
                        </div>

                        <div class="configDetails" id="configDetails">
                            <table class="coinInfoTable">
                                <tr>
                                    <th>Minimum Payment</th>
                                    <td>{{=it.poolsConfigs[pool].paymentProcessing.minimumPayment}}</td>
                                </tr>
                                <tr>
                                    <th>Payment Frequency (seconds)</th>
                                    <td>{{=it.poolsConfigs[pool].paymentProcessing.paymentInterval}}</td>
                                </tr>
                                <tr>
                                    <th>Fee (%)</th>
                                    <td>{{=it.poolsConfigs[pool].feeAmount}}</td>
                                </tr>
                                <tr>
                                    <th>Algorithm</th>
                                    <td>{{=it.poolsConfigs[pool].coin.algorithm}}</td>
                                </tr>
                                <tr>
                                    <th>Username:</th>
                                    <td>
                                        {{ if (it.poolsConfigs[pool].coin && it.poolsConfigs[pool].coin.privateChain) { }}
                                            your {{=it.poolsConfigs[pool].coin.name}} wallet <b style="color:#C99631;">zS</b> address<br>
                                        {{ } else if (it.poolsConfigs[pool].coin) { }}
                                            your {{=it.poolsConfigs[pool].coin.name}} miner wallet address
                                        {{ } else { }}
                                            your {{=it.poolsConfigs[pool].coin.name}} miner wallet address
                                        {{ } }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Password:</th>
                                    <td>ANYTHING</td>
                                </tr>
                                <tr>
                                    <th>Server/Stratum:</th>
                                    <td>{{=it.portalConfig.website.stratumHost}}</td>
                                </tr>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <tr>
                                        <th>{{= it.poolsConfigs[pool].ports[port].label ? it.poolsConfigs[pool].ports[port].label : 'URL'}} Port</th>
                                        <td>{{=port}}</td>
                                    </tr>
                                {{ } }}
                            </table>
                        </div>
                    </div>
                {{ } }}
            </div>

        <div id="guides&wallets" style="height:50px"></div>
        <div class="menuHeader">Guides/Wallets<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            <h2>
                Guides
            </h2>
            <p>
                <a href="https://medium.com/piratechain/how-to-mine-pirate-step-by-step-with-gpu-s-4c98f3dbcf5e" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">How to mine Pirate with a GPU or ASIC miner</a><br>
                <a href="https://docs.komodoplatform.com/komodo/install-Komodo-manually.html" target="_blank" style="color: var(--colour1)">How to run Komodo (not required to mine on this pool but can be used for CLI wallets for KMD and all assetchains)</a><br>
            </p>
            <h2>
                Wallets
            </h2>
            <p>
                <a href="https://github.com/DeckerSU/KomodoOcean/tree/static" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">KomodoOceanQT Wallet (WIN/MAC/LINUX)</a><br>
                <a href="https://github.com/TheComputerGenie/PirateOcean" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">PirateOceanQT Wallet (WIN/MAC/LINUX)</a><br>
                <a href="https://github.com/VerusCoin/Agama/releases/tag/v0.6.0.13-PBaaS-Cross-chain-Technology-Preview" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Verus Agama (WIN/MAC/LINUX) (Supports KMD & Pirate)</a><br>
                <a href="https://github.com/leto/TreasureChest" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Treasure Chest Wallet (Pirate only)</a>
            </p>
        </div>

        <div id="howtoMine" style="height:50px"></div>
        <div class="menuHeader">How-To-Mine<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            <p>
                Firstly, you will need to decide what GPU mining software you are going to use. There are many available to choose from. You will need to experiment to find which one works best for you.  DYOR on this and be sure to virus scan all the things! This pool takes no responsibility for 3rd party software.
            </p>
            <br>
            <p>
                You are only able to mine Pirate using a zS address.
            </p>
            <p>
                You are only able to mine Komodo with an R address.
            </p>
            <p>
                You are only able to mine RedFOX with an R address.
            </p>
            <br>
            <p>
                If you mistype, or input an invalid address, you will not receive any funds and the pool will be unable to retrieve these. Please ensure you have copied your address correctly into your configuration.
            </p>
            <p>
                DO NOT, I repeat, DO NOT mine to an exchange wallet. This will cause all sorts of problems for the exchange to deal with, most likely leading to closed withdrawals and deposits as we have seen before. Refer to the wallet links above for wallets you can use for each coin.
            </p>
            <h2>
                ASIC Mining
            </h2>
            <p>
            Use the stratum configuration below. You will have to find the appropriate port to use based on your hardware and which coin you wish to mine. Details are at the top of this page.
            </p>
            <code>
                URL: stratum+tcp://minethechains.com:PORT#<br>
                Worker: youraddress.workername<br>
                Password: anything
            </code>
            <h2>
                GPU Mining
            </h2>
            <p>
                For GPU mining, use the config examples below, and if you have multiple mining rigs you can add a .minername at the end of your username(wallet addr) to see stats broken down by rig on the worker stats page.
            </p>
            <p>
                Here are some setup configurations for a couple of well-known GPU miners. All you will have to do is choose the correct port and change your username to your R(Komodo) or zS(Pirate) address.
            </p>
            <div class="sectionwords">
                <a href="https://bitcointalk.org/index.php?topic=1707546.0" target="_blank" style="color: var(--colour1)">EWBF's Cuda Equihash Miner</a>
            </div>
                <code>
                ./miner --server {{=it.portalConfig.website.stratumHost}} --port {{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} --user zBMzwbMsdkfjh...H82hfLjsoie.Miner1 --pass x --fee 0 --pec
                </code>

            <div class="sectionwords">
                <a href="https://bitcointalk.org/index.php?topic=2021765.0" target="_blank" style="color: var(--colour1)">dstm's ZCash / Equihash Nvidia Miner</a>
            </div>
                <code>
                    ./zm --server {{=it.portalConfig.website.stratumHost}} --port {{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} --user zBMzwbMsdkfjh...H82hfLjsoie.Miner1
                </code>

            <div class="sectionwords">
                You can also look into using the miners listed below:<br>
                <a href="https://bitcointalk.org/index.php?topic=2519271.0" target="_blank" style="color: var(--colour1)">Bminer for CUDA GPU's</a><br>
                <a href="https://bitcointalk.org/index.php?topic=1670733.0" target="_blank" style="color: var(--colour1)">Claymore's ZCash/BTG AMD GPU Miner</a>
            </div>
            
            <p>While it is possible to CPU mine, this pool does not support doing so.</p>
        </div>

        <div id="createWallet" style="height:50px"></div>
        <div class="menuHeader">Generate a CLI Wallet and Address<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            Currently to have a Pirate wallet, you must download the blockchain. DO NOT bypass this by mining to exchanges. This will cause severe problems for the exchange.<br>
            For Komodo, you can do the same and download the blockchain, or you can use the Verus Agama wallet in Lite mode instead.<br>
            For RedFox, you will need to build Komodo and start the RedFox chain, then use the commands below to create a new address to mine to.
            <br>
            <br>

            <div style="font-size: 1.2em; color: var(--colour3)">CLI Wallet Commands</div>
            If you build Komodo (guide above) and use a Command Line Interface(CLI) wallet. You can follow the instructions below:<br>
            <ol>
                <li>Download and Build <a href="https://docs.komodoplatform.com/komodo/install-Komodo-manually.html" target="_blank" style="color: var(--colour1)">Komodo</a></li>
                <li>Launch the chain you want to use and wait for it to sync fully:
                    <code>
                        For Komodo:<br>
                        ./komodod -addnode=103.231.88.178 <br>
                        <br>
                        For Pirate:<br>
                        ./komodod -ac_name=PIRATE -ac_supply=0 -ac_reward=25600000000 -ac_halving=77777 -ac_private=1 -addnode=136.243.102.225 -addnode=103.231.88.178<br>
                        <br>
                        For RedFox:<br>
                        ./komodod -ac_name=RFOX -ac_supply=1000000000 -ac_reward=100000000 -addnode=78.47.196.146 -addnode=103.231.88.178
                    </code>
                </li>
                <li>Once the chain has fully synced, Generate a new address:
                    <code>
                        For Komodo:<br>
                        ./komodo-cli getnewaddress <br>
                        <br>
                        For Pirate (you need a ZS address)<br>
                        ./komodo-cli -ac_name=PIRATE z_getnewaddress<br>
                        <br>
                        For RedFox:<br>
                        ./komodo-cli -ac_name=RFOX getnewaddress
                    </code>
                </li>
                <li>Securely backup your private key (keep this private key safe):
                    <code>
                        For Komodo:<br>
                        ./komodo-cli dumpprivkey "youraddresshere"<br>
                        <br>
                        For RedFox:<br>
                        ./komodo-cli -ac_name=RFOX dumpprivkey "youraddresshere"<br>
                        <br>
                        For Pirate:
                        ./komodo-cli -ac_name=PIRATE z_exportkey "yourzsaddresshere"
                    </code>
                </li>
            </ol>
            <br>
            <div style="font-size: 1.2em; color: var(--colour3)">Handy CLI commands</div>
            <p>
                For any komodo commands, don't input the -ac_name= parameter for any commands.<br>
                For Pirate, input the -ac_name=PIRATE parameter.<br>
                For RedFox, input the -ac_name=RFOX parameter.
            </p>
            <div>Review all commands:
                <code>
                    ./komodo-cli help
                </code>
            </div>

            <div>Check your Zs balance:
                <code>
                    ./komodo-cli -ac_name=PIRATE z_gettotalbalance
                </code>
            </div>

            <div>Check your transparent(R) balance:
                    <code>
                        ./komodo-cli getbalance
                    </code>
            </div>

            <div>Send your Pirate coins:
                <code>
                    ./komodo-cli -ac_name=PIRATE z_sendmany "fromZSaddress" '[{"address": "toZSaddress" ,"amount": 1000}]'
                </code>
            </div>

            <div>Generate a new Sapling address(starts with zS)
                <code>
                    ./komodo-cli -ac_name=PIRATE z_getnewaddress
                </code>
            </div>   

            <div>Create a specific sized UTXO in your wallet.
                <code>
                    ./komodo-cli -ac_name=PIRATE z_sendmany "zaddr1" '[{"address":"zaddr1","amount": 1000}]'
                </code>
            </div> 
            For more information visit the <a href="https://docs.komodoplatform.com/basic-docs/komodo-api/wallet.html" target="_blank" style="color: var(--colour1)">Komodo documentation website</a>, or ask in the <a href="https://discord.gg/syqQ5Yr" target="blank" rel="noopener noreferrer" style="color: var(--colour2);">MineTheChains Discord Server.</a> 
        </div>

        <div id="handyLinks" style="height:50px"></div>
        <div class="menuHeader">Handy Links<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            <div class="info" style="font-size: 1.2em; margin: auto;">
                <div><a href="https://komodoplatform.com/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Komodo Website</a></div>
                <div><a href="https://pirate.black" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">pirate.black Website</a></div><br>
                <div><a href="https://discord.gg/syqQ5Yr" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">MineTheChains Discord Server</a></div>
                <div><a href="https://discord.gg/QeukYy6" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Komodo Discord Server</a></div>
                <div><a href="https://discord.gg/Gs9rj4a" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Pirate Discord Server</a></div><br>
                <div><a href="http://kmd.explorer.dexstats.info/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Komodo Explorer</a></div>
                <div><a href="https://explorer.pirate.black/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Pirate Explorer</a></div>
                <div><a href="http://rfox.explorer.dexstats.info/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">RedFox Explorer</a></div><br>
                <div><a href="https://coinmarketcap.com/currencies/komodo/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Komodo CoinMarketCap</a></div>
                <div><a href="https://www.coingecko.com/en/coins/komodo?utm_content=komodo&utm_medium=search_coin&utm_source=coingecko" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Komodo CoinGecko</a></div>
                <div><a href="https://coinmarketcap.com/currencies/pirate-chain/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">PirateChain CoinMarketCap</a></div>
                <div><a href="https://coinpaprika.com/coin/arrr-pirate/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">PirateChain CoinPaprika</a></div>
                <div><a href="https://www.coingecko.com/en/coins/pirate-chain?utm_content=pirate-chain&utm_medium=search_coin&utm_source=coingecko" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">PirateChain CoinGecko</a></div>
                <div><a href="https://coinmarketcap.com/currencies/redfox-labs/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">RedFox Labs CoinMarketCap</a></div>
                <div><a href="https://coinpaprika.com/coin/rfox-redfox-labs/" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">RedFox Labs CoinPaprika</a></div>
                <div><a href="https://www.coingecko.com/en/coins/redfox-labs?utm_content=redfox-labs&utm_medium=search_coin&utm_source=coingecko" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">RedFox Labs CoinGecko</a></div><br>
                <div><a href="https://digitalprice.io/?inviter=4fdaf7" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">DigiPrice Exchange (KMD/ARRR)</a></div>
                <div><a href="https://www.coineal.com/#en_US" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Coineal Exchange (RFOX)</a></div>
                <div><a href="https://www.binance.com/en" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">Binanace Exchange (KMD)</a></div>
            </div>
        </div> 
    </div>
</div>

<script>
    function configDetailsButton() {
      var x = document.getElementById("configDetails");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>