<style>
@media screen and (max-width: 800px) {
     /* phone size */

    .GS-menu {
    display: inline;
    }

    .buttonoptions {
        width: 100%;
        border-radius: 0px
    }

    #menu {
        width: 100%;
    }
}
</style>

<div id="holder">
    
    <div class="GS-menu">
            <a href="#poolDetails"><button class="buttonoptions">Config Details</button></a>
            <a href="#asicMining"><button class="buttonoptions">ASIC Mining</button></a>
            <a href="#gpuMining"><button class="buttonoptions">GPU Mining</button></a>
            <a href="#createWallet"><button class="buttonoptions">Pirate Info</button></a>
    </div>

<div id="menu">    
        <div id="poolDetails" style="height:50px"></div>
        <div class="menuHeader">Pool Configuration Details<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        
        
        <div>
                {{ for (var pool in it.poolsConfigs) { }}
                <div class="poolConfig">
                        <div class="coinInfoHeader">
                            {{if (String(it.stats.pools[pool].name).startsWith("komodo")) { }}
                            <img class="coinLogo" src="/static/images/KMDlogo.png"><br>
                            Komodo Configuration
                            {{ } else if (String(it.stats.pools[pool].name).startsWith("pirate")) { }}
                            <img class="coinLogo" src="/static/images/PirateLogo.png"><br>
                            Pirate Configuration
                            {{ } else { }}
                            <span class="coinInfoName">{{=it.poolsConfigs[pool].coin.name}}</span> Configuration
                            {{ } }}
                        </div>

                    <div class="configDetails" id="configDetails">
                        <div class="coinInfoRows">
                            <div class="coinInfoRowKeys">
                                <div>Username:</div>
                                <div>Password:</div>
                                <div>Algorithm:</div>
                                <div>Server/Stratum:</div>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <div>{{= it.poolsConfigs[pool].ports[port].label ? it.poolsConfigs[pool].ports[port].label : 'URL'}} Port</div>
                                {{ } }}
                            </div>
                            <div class="coinInfoRowValues">
                                <div class="coinInfoUsername">
                                    {{ if (it.poolsConfigs[pool].coin && it.poolsConfigs[pool].coin.privateChain) { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} wallet <b style="color:#C99631;">zS</b> address<br>
                                    {{ else if (it.poolsConfigs[pool].coin && it.poolsConfigs[pool].coin.privateChain) { }}
                                    your {{=it.poolsConfigs[pool].coin.name}} wallet <b style="color:#D62600;">R</b> address<br>
                                    {{ } else if (it.poolsConfigs[pool].coin) { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} wallet address
                                    {{ } else { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} wallet address
                                    {{ } }}
                                </div>
                                <div>anything</div>
                                <div>{{=it.poolsConfigs[pool].coin.algorithm}}</div>
                                <div>{{=it.portalConfig.website.stratumHost}}</div>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <div>{{=port}}</div>
                                {{ } }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ } }}
        </div>

        <div id="asicMining" style="height:50px"></div>
        <div class="menuHeader">ASIC Mining<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            <h1>
                Guides
            </h1>
            <p>
                <a href="https://medium.com/piratechain/how-to-mine-pirate-step-by-step-with-gpu-s-4c98f3dbcf5e" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">How to mine Pirate with a GPU or ASIC miner.</a>
            </p>
        </div>

        <div id="gpuMining" style="height:50px"></div>
        <div class="menuHeader">GPU Mining<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            <p>
                Firstly, you will need to decide what GPU mining software you are going to use. There are many available to choose from. You will need to experiment to find which one works best for you.  DYOR on this and be sure to virus scan all the things! This pool takes no responsibility for 3rd party software.
            </p>
            <p>
                You are only able to mine Pirate using a zS address.
            </p>
            <p>
                You are only able to mine Komodo with an R address.
            </p>
            <p>
                If you mistype, or input an invalid address, you will not receive any funds and the pool will be unable to retrieve these. Please ensure you have copied your zSaddress correctly.
            </p>
            <p>
                DO NOT, I repeat, DO NOT mine to an exchange wallet. This will cause all sorts of problems for the exchange to deal with, most likely leading to closed withdrawals and deposits as we have seen before. Refer to the information at the bottom of the page to get an Agama wallet.
            </p>
            <p>
                Use the config examples below, and if you have multiple mining rigs you can add a .minername at the end of your username(wallet addr) to see stats broken down by rig on the worker stats page.
            </p>
            <p>
                Here are some setup configurations for a couple of well-known GPU miners. All you will have to do is choose the correct port and change your username to your R(Komodo) or zS(Pirate) address.
            </p>
            <div class="sectionwords">
                    <a href="https://bitcointalk.org/index.php?topic=1707546.0" target="_blank" style="color: var(--colour1)">EWBF's Cuda Equihash Miner</a>
                    </div>
                    <code>
                    ./miner --server {{=it.portalConfig.website.stratumHost}} --port {{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} --user zBMzwbMsdkfjh...H82hfLjsoie.Miner1 --pass x --fee 0 --pec
                    </code>

            <div class="sectionwords">
                <a href="https://bitcointalk.org/index.php?topic=2021765.0" target="_blank" style="color: var(--colour1)">dstm's ZCash / Equihash Nvidia Miner</a>
                </div>
                <code>
                    ./zm --server {{=it.portalConfig.website.stratumHost}} --port {{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} --user zBMzwbMsdkfjh...H82hfLjsoie.Miner1
                </code>

            <div class="sectionwords">
                You can also look into using the miner below:<br>
                    <a href="https://bitcointalk.org/index.php?topic=2519271.0" target="_blank" style="color: var(--colour1)">Bminer for CUDA GPU's</a>
                    <a href="https://bitcointalk.org/index.php?topic=1670733.0" target="_blank" style="color: var(--colour1)">Claymore's ZCash/BTG AMD GPU Miner</a>
                    
                </div>
            
            <p>While it is possible to CPU mine, this pool does not support doing so on PIRATE.</p>
        </div>

        <div id="createWallet" style="height:50px"></div>
        <div class="menuHeader">Generate a PIRATE Wallet and Address<a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a></div>
        <div class="sectionwords">
            Currently to have a Pirate wallet, you must download the blockchain. Which means running Agama in NATIVE mode, as well as syncing the entire blockchain. DO NOT bypass this by mining to exchanges. This will cause severe problems for the exchange.<br>
            <br>
            You can use any of the following wallets:<br><div class="info" style="font-size: 1.5em;">Pirate Wallets</div>
            <div><a href="https://github.com/KomodoPlatform/Agama/releases" target="blank" rel="noopener noreferrer">Agama Multi-Currency Wallet</a></div> 
            <div><a href="https://github.com/TheComputerGenie/PirateOcean/releases" target="blank" rel="noopener noreferrer">PirateOcean QT for Windows & Mac</a></div>
            <div><a href="https://github.com/leto/TreasureChest" target="blank" rel="noopener noreferrer">Treasure Chest Wallet</a></div>

            Thanks to @kaks for <a href="https://www.youtube.com/watch?v=R-CfKd0VrTg" target="blank" rel="noopener noreferrer" style="color: var(--colour1)">making this tutorial for running Agama Wallet.</a>
            <br>
            <br>
            If you use a CLI wallet. You can follow the instructions below:<br>
            <ol>
                <li>Build <a href="https://docs.komodoplatform.com/komodo/install-Komodo-manually.html" target="_blank" style="color: var(--colour1)">Komodo</a></li>
                <li>Launch PIRATE chain and wait for it to sync fully:
                    <code>
                        ./komodod -ac_name=PIRATE -ac_supply=0 -ac_reward=25600000000 -ac_halving=77777 -ac_private=1 -addnode=136.243.102.225
                    </code>
                </li>
                <li>Generate a Z address:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_getnewaddress
                    </code>
                </li>
                <li>Securely backup your private key (keep this private key safe):
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_exportkey "zaddr"
                    </code>
                </li>
            </ol>
<br>
            <div style="font-size: 1.2em; color: var(--colour3)">Handy CLI commands</div>
                <div>Check your balance:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_gettotalbalance
                    </code>
                </div>

                <div>Send your coins:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_sendmany "fromZSaddress" '[{"address": "toZSaddress" ,"amount": 1000}]'
                    </code>
                </div>

                <div>Generate a new Sapling address(starts with zS)
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_getnewaddress
                    </code>
                </div>   

                <div>Create a specific sized UTXO in your wallet.
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_sendmany "zaddr1" '[{"address":"zaddr1","amount": 1000}]'
                    </code>
                </div> 
                
            <div class="menuHeader" style="text-align: center">
                    Pirate Links<br>
            </div>
            <div class="info" style="font-size: 1.1em;">
                    <div><a href="https://pirate.black" target="blank" rel="noopener noreferrer">pirate.black</a></div>
                    <div><a href="https://discord.gg/Gs9rj4a" target="blank" rel="noopener noreferrer">Discord Server</a></div>
                    <div><a href="https://digitalprice.io/?inviter=4fdaf7" target="blank" rel="noopener noreferrer">DigiPrice Exchange</a></div>
                    <div><a href="https://twitter.com/PirateChain" target="blank" rel="noopener noreferrer">Pirate Twitter</a></div>
                    <div><a href="https://www.instagram.com/PirateChain/" target="blank" rel="noopener noreferrer">Instagram</a></div>
                    <div><a href="https://medium.com/piratechain" target="blank" rel="noopener noreferrer">Medium Articles</a></div>
                    <div><a href="https://www.reddit.com/r/PirateChain" target="blank" rel="noopener noreferrer">Reddit</a></div>
                    <div><a href="https://www.youtube.com/channel/UC-T-lFJpcCXn1EZ8cuc-d3Q?view_as=subscriber" target="blank" rel="noopener noreferrer">Youtube</a></div>
                    <div><a href="https://github.com/PirateNetwork" target="blank" rel="noopener noreferrer">GitHub</a></div>
                    <div><a href="https://bitcointalk.org/index.php?topic=4979549" target="blank" rel="noopener noreferrer">BTT</a></div>
                    <div><a href="http://pirate.explorer.dexstats.info" target="blank" rel="noopener noreferrer">Explorer</a></div>
                    <div><a href="https://explorer.pirate.black/" target="blank" rel="noopener noreferrer">Pirate Explorer</a></div><br>
                <div class="info" style="font-size: 1.5em;">Pirate Wallets</div>
                    <div><a href="https://github.com/KomodoPlatform/Agama/releases" target="blank" rel="noopener noreferrer">Agama Multi-Currency Wallet</a></div>
                    <div><a href="https://github.com/leto/TreasureChest" target="blank" rel="noopener noreferrer">Treasure Chest Wallet</a></div>
                    <div><a href="https://github.com/TheComputerGenie/PirateOcean/releases" target="blank" rel="noopener noreferrer">PirateOcean QT for Windows & Mac</a></div>
            </div>
                
            For more information visit the <a href="https://pirate.black/" target="_blank" style="color: var(--colour1)">pirate.black website.</a>
        </div>
    </div>
</div>

<script>
    function configDetailsButton() {
      var x = document.getElementById("configDetails");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>