<style>
@media screen and (max-width: 800px) {
        /* phone size */
    .GS-menu > a {
    margin: 0px;
    width: 100%;
    }
    .buttonoptions {
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    margin-bottom: 10px;
    }
        .noneDisp {
        display: none;
    }
}
</style>

<script type="text/javascript">
    function searchKeyPress(e)
    {
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode == 13)
        {
            document.getElementById('MinerSearch').click();
            return false;
        }
        return true;
    }
    $(document).ready(function(){
        $('.btn-miner-lg').click(function(){
            window.location = "workers/" + $('.input-miner-lg').val();
        });
    });
</script>

<div class="GS-menu">
    {{ for(var pool in it.stats.pools) { }}
        <a href="#{{=it.stats.pools[pool].name}}"><button class="buttonoptions">{{=it.stats.pools[pool].name}}<span></span></button></a>
    {{ } }}
</div>

{{ function capitalizeFirstLetter(t){return t.charAt(0).toUpperCase()+t.slice(1)} }}
{{ var i=0; for(var pool in it.stats.pools) { }}

<div id="{{=it.stats.pools[pool].name}}" style="height: 50px;"></div>

    <div class="flex-container">
        <div class="poolLabel">
            <div class="header" style="font-size: 1.4em">    
                {{if (String(it.stats.pools[pool].name).startsWith("komodo")) { }}
                    <img class="coinLogo" src="/static/images/KMDlogo.png"><br>
                    Komodo
                    {{ } else if (String(it.stats.pools[pool].name).startsWith("pirate")) { }}
                    <img class="coinLogo" src="/static/images/PLogo2.png"><br>
                    Pirate
                    {{ } else if (String(it.stats.pools[pool].name).startsWith("redfox labs")) { }}
                    <img class="coinLogo" src="/static/images/RFOX.png"><br>
                    RedFOX Labs
                    {{ } else { }}
                    {{=it.poolsConfigs[pool].coin.name}}
                {{ } }} 
                Miners List &nbsp;&nbsp;
            </div>			
                <small><span id="statsMiners{{=pool}}">{{=it.stats.pools[pool].minerCount}}</span> Miners &nbsp;&nbsp;
                <span id="statsWorkers{{=pool}}">{{=it.stats.pools[pool].workerCount}}</span> Workers &nbsp;&nbsp;
                <span id="statsWorkers{{=pool}}">{{=it.stats.pools[pool].shareCount}}</span> Total Shares </small>
                <a href="#" style="font-size: 0.7em; float: right; color: var(--colour1); padding-right: 15px;">TOP</a>
        </div>
        
        <div class="poolWrapper">
            <div class="poolMinerTable">
                <table class="pure-table" style="table-layout: inherit">
                    {{if (String(it.stats.pools[pool].name).startsWith("pirate")) { }}
                        <thead>
                        <tr>
                            <th>Address Search (all addresses are private, you can search for yours though!)</th>
                        </tr>
                        </thead>

                        <tbody>  
                            <tr class="pure-table-odd">
                                <td>
                                    <div style="color:black; text-align:center; font-family: var(--font2); font-size: 15px;">Miner Search: 
                                        <input type="text" class="form-control input-miner-lg" onkeypress="return searchKeyPress(event);">
                                            <span class="input-group-btn" placeholder="ADDRESS">
                                                <button class="btn btn-default btn-miner-lg" type="button" id="MinerSearch">Go</button>
                                            </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    {{ } else { }}
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th class="noneDisp">Shares</th>
                                <th class="noneDisp">Efficiency</th>
                                <th>Hashrate</th>
                            </tr>
                        </thead>
                                
                        {{ for(var worker in it.stats.pools[pool].miners) { }}
                        {{var workerstat = it.stats.pools[pool].miners[worker];}}
                            <tbody>  
                                <tr class="pure-table-odd">
                                    <td><a href="/workers/{{=worker.split('.')[0]}}">{{=worker.length > 30 ? worker.substring(0, 10) + '...' + worker.substring(worker.length-15, worker.length): worker}}</a></td> 
                                    <td class="noneDisp">{{=Math.round(workerstat.currRoundShares * 100) / 100}}</td>
                                    <td class="noneDisp">{{? workerstat.shares > 0}} {{=Math.floor(10000 * workerstat.shares / (workerstat.shares + workerstat.invalidshares)) / 100}}% {{??}} 0% {{?}}</td>
                                    <td>{{=workerstat.hashrateString}}</td>
                                </tr>
                            </tbody>
                        {{ } }} 
                    {{ } }}
                </table>
            </div>
        </div>
    </div>
{{ } }}
